@model List<Student>
@{
    ViewData["Title"] = "AllNotApprovedStudents";
    Layout = "MainPageHome";
}

<h1 class="text-center">All Not Active students </h1>
@* <a class="btn btn-primary mt-5" asp-controller="Student" asp-action="Create">Add Student</a> *@
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Phone</th>
            <th>Branch</th>
            <th>Department</th>
            <th>Approve</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td class="align-items-center" colspan="9"> No Students Found</td>
            </tr>
        }
        else
        {
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.stdid</td>
                    <td>@student.std.name</td>
                    <td>@student.std.st_city</td>
                    <td>@student.std.phone</td>
                    <td>@student.std.branch.name</td>
                    <td>@student.std.dept.name</td>
                    <td>
                        <form asp-controller="StudentApprove" asp-action="Approve" method="post" style="display:inline;">
                            <input type="hidden" name="id" value="@student.stdid" />
                            <button type="submit" class="btn btn-danger">Approve</button>
                        </form>
                    </td>

                </tr>

            }
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
